
body {
  color: white;
  background-color: rgba(126, 180, 241, 0.4);
}


.container-head { 
  text-align: center;
  color: #f8f8f8;
  padding: 4%;
}

.container-1 {
  text-align: center;
  color: #f8f8f8;
  padding: 4%;

}

.container-fluid {
  padding: 6%;
}

.title, .img-rounded {
    display: inline-block;
}
.imgcont{
  position: relative;
}
.title-1 {
   position: absolute; 
   text-transform: uppercase;
   bottom: 0;
   padding-top:20px;
   padding-left: .85%;
  font-size: 1.25em;
  font-weight: 200;
}


#bullet {
    width: 35px;
    height: 35px;
}

#bullet-2 {
  height: 45px;
  width: auto;
}



h1,
h2,
h3,
h4,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.lead {
    font-size: 1em;
    font-weight: 200;
}
